@import "src/scss/colors.scss";

.dashboard__data__header__item {
    background-color: $soft;
    color: $dark;
    &:hover {
        background-color: $softHover;
    }
}

.dashboard__data__content__itemlist__item {
    background-color: $soft;
    color: $dark;
    &:hover {
        background-color: $softHover;
    }
}